body{
    text-align: center;
    /* min-height: 150vh; */
    margin: 0;
    padding: 0;
}

#root{
    position: relative;
}

*{
    margin: 0;
    padding: 0;
}

testing_purpose_only{
    color:rgb(43, 179, 225);
    background-attachment: local;
}